*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  display: flex;
  flex-direction: column;
   height: 100%;
  padding: 20px 80px 0px 80px;
  max-width: 1400px; 
  height: 100vh;
  margin: auto;
  background-color: hsl(0, 0%, 7%);
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
}
body button{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media(max-width:660px){

  body{padding: 20px;
  height: auto;}
    
}